@media (prefers-color-scheme: dark) {
  :root {
    --fontcolor: #eee;
    --backgorund: #333;
    --cutline: #fff;
    --imagecontrast: 0.8;
  }

  .ellipse1 {
    background: linear-gradient(154.95deg, #39BAD7 15.93%, #52E2C0 92.41%);
  }

  .webtitle::after {
    background: #2FC7E9;
  }

  .menu .index::after {
    background: #2FC7E9;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --fontcolor: #000;
    --backgorund: #fff;
    --cutline: #000;
    --imagecontrast: 1;
  }

  .ellipse1 {
    background: linear-gradient(154.95deg, #73E33E 15.93%, #52E2C0 92.41%);
  }

  .webtitle::after {
    background: #73E33E;
  }

  .menu .index::after {
    background: #73E33E;
  }
}

body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* ::selection {
  background: #111;
}

::-moz-selection {
  background: #111;
}

::-webkit-selection {
  background: #111;
} */
.ellipse1 {
  position: absolute;
  width: 475px;
  height: 475px;
  left: 40px;
  bottom: -20px;
  border-radius: 50%;
  transform: rotate(-32.73deg);
  filter: blur(120px);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--backgorund);
  transition: backgorund 0.3s;
}

.leftbar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 48px;
  width: 160px;
  height: 100vh;
  z-index: 2;
}

.leftbar::after {
  position: absolute;
  content: "";
  display: block;
  height: 100vh;
  width: 1px;
  left: 16vw;
  top: 0px;
  opacity: 0.1;
  background: var(--cutline);
}

.leftbar svg {
  margin-left: 12px;
  padding: 0 0 60px 6vw;
  transform: translateX(-50%);
  opacity: 0;
  animation: slide-left 1.5s forwards cubic-bezier(0.4, 0, 0.2, 1), fade-in 1.5s forwards;
}

.menu {
  position: relative;
  padding: 60px 0 0 6vw;
  /* display: flex; */
  /* flex-direction: column; */
}

.menu p {
  display: inline-block;
  font-weight: 300;
  position: relative;
  margin: 0 0 24px 0;
  transition: all 0.3s;
  padding: 8px 12px;
  color: var(--fontcolor);
  mix-blend-mode: difference;
  border-radius: 4px;
}

.menu p:hover {
  cursor: pointer;
  background-color: #fff;
}

.menu .index {
  font-size: 36px;
}

.menu .index::after {
  content: "";
  width: 2em;
  height: 8px;
  display: block;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: rotate(-15deg) translateY(-50%);
}

.rightbar {
  position: relative;
  padding: 0 6vw 0 0;
  width: 80vw;
  overflow-y: scroll;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
}

.columnleft {
  margin-right: 24px;
}

.card-m {
  height: 27vw;
}

.card-l {
  height: 36vw;
}

.card-m, .card-l {
  width: 36vw;
  background: #EEE;
  animation: slide-up 1s forwards, fade-in 0.8s forwards;
  box-sizing: border-box;
  margin-top: 48px;
  animation-delay: calc(var(--i) * 0.2s);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.1) inset;
  filter: contrast(var(--imagecontrast));
}

.webtitle {
  position: fixed;
  top: 60px;
  right: 6vw;
  z-index: 99;
  font-size: 32px;
  font-weight: bold;
  color: var(--fontcolor);
}

.webtitle::after {
  content: "";
  display: block;
  width: 265px;
  position: absolute;
  transform: translateY(-100%);
  right: 0;
  z-index: -1;
  height: 18px;
}

.workcontent {
  display: flex;
  padding-top: 12vh;
  padding-bottom: 60px;
}

.work-detail {
  position: absolute;
  background: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 998;
  top: 100vh;
  transition: top 0.6s ease-in-out;
}

.show-work-detail {
  top: 0vh;
}

.backbutton {
  height: 48px;
  width: 48px;
  background: #eee;
  display: block;
  position: absolute;
  top: 64px;
  left: 64px;
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}

@keyframes slide-up {
  to {
    margin-top: 24px;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}