body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #111;
}

::-moz-selection {
  background: #111;
}

::-webkit-selection {
  background: #111;
}

.ellipse1 {
  position: absolute;
  width: 475px;
  height: 475px;
  left: 40px;
  bottom: -20px;
  background: linear-gradient(154.95deg, #73E33E 15.93%, #52E2C0 92.41%);
  border-radius: 50%;
  transform: rotate(-32.73deg);
  filter: blur(120px);
}

/*
.ellipse2 {
  position: absolute;
  right: -20px;
  top: -100px;
} */
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.leftbar {
  /* padding: 60px 0 0 6vw; */
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 48px;
  width: 10vw;
  height: 100vh;
  z-index: 2;
}

.leftbar svg {
  padding: 0 0 60px 6vw;
  transform: translateX(-50%);
  opacity: 0;
  animation: slide-left 1.5s forwards cubic-bezier(0.4, 0, 0.2, 1), fade-in 1.5s forwards;
}

.menu {
  position: relative;
  padding: 60px 0 0 6vw;
  display: flex;
  flex-direction: column;
}

.menu p {
  font-weight: 300;
  position: relative;
  margin: 0 0 16px 0;
  transition: all 0.3s;
  padding: 16px 0;
  color: #000;
  mix-blend-mode: difference;
}

.menu p:hover {
  cursor: pointer;
  transform: translateX(4px);
}

.menu .index {
  font-size: 36px;
}

.menu .index::after {
  content: "";
  width: 2em;
  height: 8px;
  display: block;
  background: #73e33e;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: rotate(-15deg) translateY(-50%);
}

.rightbar {
  position: relative;
  padding: 0 6vw 0 0;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
}

.columnleft {
  margin-right: 24px;
}

.card-m {
  height: 26.6vw;
}

.card-l {
  height: 36vw;
}

.card-m, .card-l {
  width: 36vw;
  background: #EEE;
  animation: slide-up 1s forwards, fade-in 0.8s forwards;
  box-sizing: border-box;
  margin-top: 48px;
  animation-delay: calc(var(--i) * 0.2s);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.3s;
}

.card-m:hover, .card-l:hover {
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

.webtitle {
  position: fixed;
  top: 60px;
  right: 6vw;
  z-index: 999;
  font-size: 32px;
  font-weight: bold;
}

.webtitle::after {
  content: "";
  display: block;
  width: 265px;
  position: absolute;
  transform: translateY(-100%);
  right: 0;
  z-index: -1;
  height: 18px;
  background: #73E33E;
}

.workcontent {
  display: flex;
  padding-top: 12vh;
}

.work-detail {
  position: absolute;
  background: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 100vh;
  transition: top 0.6s ease-in-out;
}

.show-work-detail {
  top: 0vh;
}

.backbutton {
  height: 48px;
  width: 48px;
  background: #eee;
  display: block;
  position: absolute;
  top: 64px;
  left: 64px;
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}

@keyframes slide-up {
  to {
    margin-top: 24px;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}